@charset "utf-8";

/*기본 설정*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

img,
video,
iframe {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    /*Color*/
    --black-color: #111;
    --red-color: #FF5A5A;
    --ivory-color: #FFF7EA;
    --light_gray: #ddd;
    --dark_gray: #555;
    --des_text: #999;
    --brand-yellow: #FFE317;
    --brand-green: #3BB26B;

    /* Font Family */
    --font-main: "Pretendard", sans-serif;
    --font-en: "Gotham";

    /* ==========================
   * Heading
   * 1320px 이상 : 고정
   * 1320px 미만 : 비율 감소
   * ========================== */

/* Heading */
--fs-h1: clamp(32px, calc(100vw * 64 / 1320), 64px);          /* 32px ~ 64px */
--fs-h2: clamp(24px, calc(100vw * 48 / 1320), 48px);          /* 24px ~ 48px */
--fs-h3: clamp(18px, calc(100vw * 36 / 1320), 36px);          /* 18px ~ 36px */
--fs-32: clamp(20px, calc(100vw * 32 / 1320), 32px);          /* 20px ~ 32px */
--fs-40: clamp(24px, calc(100vw * 40 / 1320), 40px);          /* 24px ~ 40px */

/* Product */
--fs-product-name: clamp(16px, calc(100vw * 18 / 1320), 18px); /* 16px ~ 18px */
--fs-price: clamp(18px, calc(100vw * 20 / 1320), 20px);        /* 18px ~ 20px */
--fs-brand: clamp(12px, calc(100vw * 14 / 1320), 14px);        /* 12px ~ 14px */

/* Common */
--fs-body-lg: clamp(16px, calc(100vw * 20 / 1320), 20px);      /* 16px ~ 20px */
--fs-body: clamp(14px, calc(100vw * 16 / 1320), 16px);         /* 14px ~ 16px */
--fs-small: clamp(12px, calc(100vw * 14 / 1320), 14px);        /* 12px ~ 14px */
--fs-caption: clamp(10px, calc(100vw * 12 / 1320), 12px);      /* 10px ~ 12px */

/* Weight */
--fw-light: 300;
--fw-regular: 400;
--fw-medium: 500;
--fw-bold: 700;

/* Padding */
--space-4: clamp(2px, calc(100vw * 4 / 1320), 4px);
--space-8: clamp(4px, calc(100vw * 8 / 1320), 8px);
--space-12: clamp(6px, calc(100vw * 12 / 1320), 12px);
--space-16: clamp(8px, calc(100vw * 16 / 1320), 16px);
--space-20: clamp(10px, calc(100vw * 20 / 1320), 20px);
--space-24: clamp(12px, calc(100vw * 24 / 1320), 24px);
--space-30: clamp(15px, calc(100vw * 30 / 1320), 30px);
--space-32: clamp(16px, calc(100vw * 32 / 1320), 32px);
--space-40: clamp(20px, calc(100vw * 40 / 1320), 40px);
--space-48: clamp(24px, calc(100vw * 48 / 1320), 48px);
--space-50: clamp(25px, calc(100vw * 50 / 1320), 50px);
--space-64: clamp(32px, calc(100vw * 64 / 1320), 64px);
--space-80: clamp(30px, calc(100vw * 80 / 1320), 80px);
--space-100: clamp(40px, calc(100vw * 100 / 1320), 100px);
--space-120: clamp(60px, calc(100vw * 120 / 1320), 120px);
--space-130: clamp(65px, calc(100vw * 130 / 1320), 130px);
--space-150: clamp(40px, calc(100vw * 150 / 1320), 150px);
}

html {
    font-size: 100%;
}

body {
    font-size: var(--fs-body);
    line-height: 1.5;
    font-weight: var(--fw-regular);
}

#header {
    position: fixed;
    width: 100%;
    z-index: 999;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.8);
}

.max_inner {
    max-width: 1920px;
    margin: 0 auto;
}

#header .max_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: clamp(60px,6.8vw,90px);
    padding: 0 var(--space-24);
}

h1 img {
    height: clamp(28px,3vw,40px);
}
.btn_menu{
    display: none;
    border:none;
    outline:none;
    background-color: none;
}
.btn_menu {
    position: relative;
    width: 20px;
    height: 20px;
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
}

.btn_menu span {
    position: absolute;
    left: 0;

    width: 100%;
    height: 2px;

    background: #111;
    transition: all 0.3s ease;
}

/* 위 */
.btn_menu span:nth-child(1) {
    top: 5px;
}

/* 가운데 */
.btn_menu span:nth-child(2) {
    top: 11px;
}

/* 아래 */
.btn_menu span:nth-child(3) {
    top: 17px;
}
.top_menu {
    display: flex;
    gap: var(--space-20);
    align-items: center;
}

.btn_menu.active span:nth-child(1) {
    top: 11px;
    transform: rotate(45deg);
}

.btn_menu.active span:nth-child(2) {
    opacity: 0;
}

.btn_menu.active span:nth-child(3) {
    top: 11px;
    transform: rotate(-45deg);
}

.top_menu>li>a {
    display: block;
    padding: 35px 10px 20px;
    height: 90px;
    box-sizing: border-box;
    font-weight: 600;
}

.top_menu>li:hover .sub_menu {
    opacity: 1;
    visibility: visible;
}

.top_sub_btn {
    display: flex;
    gap: 10px;
    align-items: center;
}

.top_sub_btn li {
    
    position: relative;
    padding: 5px;
    display: flex;
}
.top_sub_btn li img{
    width: 24px;
}
#header h1{
    flex-shrink: 0;
}
.gnb {
    display: flex;
    margin-left: auto;
    margin-right:150px;
}

.cart_num {
    position: absolute;
    display: flex;
    right: -3px;
    bottom: 0;
    width: 17px;
    height: 17px;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    background: #111;
    border-radius: 99px;
    justify-content: center;
    align-items: center;
}

#main_banner{
    padding-top:clamp(60px,6.8vw,90px);
    overflow: hidden;
}

.banner_inner {
    max-width: 1320px;
    margin: 0 auto;
    overflow: visible;
    position: relative;
}

.main_banner {
    padding-bottom: 30px;
    overflow: visible;
}

.main_banner .swiper-slide {
    text-align: center;
    align-items: center;
    border-radius: var(--space-30);
    overflow: hidden;
}

.main_banner .swiper-slide img {
    max-width: 100%;
}

.main_banner>.swiper-pagination-progressbar {
    width: 100%;
    height: 6px;
    left: 0;
    top: auto;
    bottom: 0;
}

.main_banner .swiper-pagination-progressbar-fill {
    background: #333;
}


.main_banner .swiper {
    padding-bottom: 100px;
    overflow: visible;
}

.sub_menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 100%;
    left: 0;
    width: 100%;
    height: 250px;
    display: flex;
    z-index: 999;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.8);
    transition: all 0.5s;
}

.inner {
    max-width: 1320px;
    margin: 0 auto;
}

.sub_menu .inner {
    width: 100%;
    display: flex;
    padding: 50px 30px;
    justify-content: space-between;
    box-sizing: border-box;
}
.sub_menu .inner .lnb{
    flex: 1 1 0;
}
.sub_menu .inner .sub_menu_event{
    flex: 0 0 618px;
}
.lnb {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.lnb h2 {
    width: 140px;
    font-size: 18px;
    font-weight: 500;
    background: url("../images/arrow_right.png") no-repeat 95% 50%;
    padding-right: 20px;
}

.lnb ul {
    font-size: 16px;
    font-weight: 400px;
}

.lnb ul li a {
    display: block;
    padding: 8px 0;
    margin-top: -7px;
}

.sub_menu_event {
    display: flex;
    gap: 20px;
}

.sub_menu_arrow {
    padding-top: 5px;
}

.main_best_list,.main_new_list{
    padding-left:16px;
}

#main_best .main_best_list .swiper-slide {
    position: relative;
}

.thumb {
    position: relative;
    overflow: hidden;
}
.thumb img {
    width: 100%;
    transition: transform 0.3s;
}
.thumb:hover img{
    transform: scale(1.2);
}


.info {
    padding: 0.5em 0;
    overflow: hidden;
}

.main_best_list .swiper-slide img {
    max-width: 100%;
}


.brand {
    font-size: clamp(0.75rem, 0.7rem + 0.3vw, 0.875rem);
    /* 12px ~ 14px */
    line-height: 1.4;
    color: #777;
}

.prd_title {
    font-size: var(--fs-product-name);
    /* 14px ~ 18px */
    line-height: 1.6;
    font-weight: 400;
    margin: 0.5em 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* 몇 줄에서 자를지 */
    overflow:hidden;
}
.prd_title span{
    display: none;
}
.price_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wish_btn {
    display: block;
    width: clamp(16px, 1.8vw, 24px);
    aspect-ratio: 1 / 1;
    background: url("../images/icon_wish2.png") no-repeat center;
    background-size: contain;
    transition: 0.2s;
    border:none;
    outline: none;
    cursor: pointer;
}

/* 마우스 오버 */
.wish_btn:hover {
    background-image: url("../images/icon_wish_on.png");
}

/* 클릭 후 유지 */
.wish_btn.active {
    background-image: url("../images/icon_wish_on.png");
}
.price_area .wish_area{
    font-size: var(--fs-price);
    padding-right:5px;
}
.price_area .wish_area img{
    width: 1.3rem;
}

.price {
    font-family: var(--font-en);
    font-size: var(--fs-price);
    /* 16px ~ 20px */
    font-weight: 600;
}

.h2_title {
    font-family: var(--font-en);
    font-weight: bold;
    font-size: clamp(20px, 3vw,30px);
    letter-spacing: 20%;
    text-align: center;
    padding-bottom: var(--space-100);
}

.discount {
    display: inline-block;
    color: var(--red-color);
    padding-right: 8px;
}

.main_best_list .thumb span {
    font-family: var(--font-en);
    position: absolute;
    top: 5%;
    left: 5%;
    background: #111;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 700;
    width: 15%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_best_list .thumb span.tag_best1 {
    background-color: var(--red-color);
}

#main_new {
    position: relative;
}



.new_tab {
    display: flex;
    gap: clamp(8px, 1.5vw, 20px);
    justify-content: center;
}

.new_tab li button{
    display: inline-block;
    font-size: 18px;
    padding: 10px 30px;
    background: #fff;
    border: 1px solid var(--light_gray);
    outline: none;
    color: var(--dark_gray);
    border-radius: 99px;
    transition: all 0.3s;
    cursor: pointer;
}
.new_tab li button:hover{
    border:1px solid var(--black-color);
    color: var(--black-color);
}
.new_tab li button.active {
    background-color: var(--black-color);
    color: #fff;
    border: 1px solid var(--black-color);
    font-weight: bold;
}

#main_new,#main_best{
    padding-top: var(--space-150);
}

.swiper_box {
    display:none;
}

.swiper_box.active {
    display: block;
}
.main_new_list .swiper-slide img {
    width: 100%;
}

.new_page span {
    background-color: #E6DECF;
    opacity: 1;
}

.main_new_list .swiper-pagination-bullet-active {
    background-color: var(--red-color);
    opacity: 1;
}

.new_page span {
    width: 12px;
    height: 12px;
}
.mobile_menu{
    display: none;
    height: calc(100vh - 60px);
}
.new_page {
    bottom: 0;
}

#main_new .h2_title {
    padding-bottom: clamp(30px, 3.7vw, 50px);
}

#main_new .swiper {
    padding-bottom: clamp(40px, 5.3vw, 70px);
}

.new_tab {
    padding-bottom: clamp(30px, 3.7vw, 50px);
}

#trend_pick {
    padding: var(--space-150) 20px;
}

.trend_list {
    display: flex;
    gap: 27px;
    justify-content: space-between;
    text-align: center;
}

.trend_list li img {
    max-width: 100%;
}

.trend_list h3 {
    padding: 0.8em 0 0.5em;
    font-size: 1.1rem;
    font-weight: 500;
}

.trend_list p {
    font-size: 1rem;
    font-weight: 300;
    color: var(--dark_gray);
}

.brand_logo {
    width: clamp(100px,16vw,220px);
}

#brand_banner {
    background-color: var(--ivory-color);
    height: clamp(330px, 41vw,550px);
    overflow: hidden;
    padding:0;
}

#brand_banner .brand_inner {
    max-width: 1320px;
    position: relative;
    margin: 0 auto;
    padding: var(--space-100) 30px;
}

.brand_inner .text_box {
    width: clamp(320px,37vw,500px);
    word-break: keep-all;
}

.brand_inner h2 {
    font-size: 40px;
    font-weight: 300;
    line-height: 1.2;
    padding: var(--space-24) 0;
}

.brand_inner h2 b {
    font-weight: 600;
}

.brand_inner p {
    font-weight: 300;
    line-height: 1.4;
    padding-bottom: var(--space-24);
}

.btn_basic {
    display: flex;
    justify-content: flex-end;
}

.btn_basic a {
    padding: 0.8em 1.6em;
    display: inline-flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    border-radius: 99px;
    margin-left: auto;
    background-color: #fff;
    color: #111;
    font-weight: 600;
    transition: all 0.3s;
}
.btn_basic a:hover{
    background-color: #111;
    color:#fff;
}
#brand_banner .bg_red {
    background-color: var(--red-color);
    color: #fff;
}

@keyframes flower_ani1 {
    0% {
        transform: rotate(-180deg)
    }

    100% {
        transform: rotate(-210deg);
    }
}

@keyframes flower_ani2 {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(-20deg);
    }
}

.main_ani1 {
    position: absolute;
    width: var(--space-150);
    top:-8%;
    left: 40%;
    animation: flower_ani1 2s linear infinite alternate;
}

.main_ani2 {
    position: absolute;
    width:clamp(70px,30vw,460px);
    bottom: -10%;
    right: 6%;
    animation: flower_ani2 3s linear infinite alternate;
}

#event_banner {
    padding: var(--space-150) 0;

}

#event_banner ul {
    display: flex;
    text-align: center;
}

#event_banner ul li {
   
}


#event_banner ul li {
    width: 50%;
    flex:1 1 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: clamp(20px,1vw,45px) clamp(20px,1vw,45px);
}

#event_banner ul li .img_box {
    width: clamp(70px, 8.8vw, 170px);
}

#event_banner ul li .img_box img {
    width: 100%;
}

.main_event1 {
    background-color: var(--brand-yellow);
}

.main_event2 {
    background-color: var(--brand-green);
    color: #fff;
}


.event_title {
    flex: 1 1 0;
    font-size: var(--fs-32);
    font-weight: 700;
}

.event_des {
    display: block;
    font-size: 0.6em;
    font-weight: 500;
}
.scroll_x {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    /* 스크롤바 숨기기(선택사항) */
    /* scrollbar-width: none; */
}

#main_line {
    background: url(../images/petit_bg.png) no-repeat 0 100%;
    background-size: 15%;
    background-color: var(--brand-yellow);
}

.petit_line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding:
        clamp(40px, 6.77vw, 130px) clamp(20px, 5.21vw, 100px);
    box-sizing: border-box;
}

.grand_line {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    padding:
        clamp(40px, 6.77vw, 130px) clamp(20px, 5.21vw, 100px);
    box-sizing: border-box;
}

.main_line_list {
    display: grid;
    grid-template-columns: repeat(2, 350px);
    gap: clamp(20px, 2vw, 40px);
}


.main_line_img {
    max-width: 100%;
}

.line_info h3 {
    font-size: clamp(24px,3.4vw, 46px);
    font-weight: 600;
    padding-bottom:clamp(10px,2.2vw,30px);
}

.line_info p {
    font-weight: 300;
    padding-bottom: 30px;
}

.line_info_text {
    width: 500px;
}

.grand_line .line_info_text {
    margin-top: -25px;
}

.grand_line .line_info_text .btn_basic a {
    border: 1px solid #111;
}

#main_video {
    background: #f5f5f5;
    padding:
        clamp(60px, 6.77vw, 130px) 20px;
}

#main_video .inner {
    display: grid;
    gap: 60px;
    grid-template-columns: 3fr 2fr;
    align-items: center;
}
#main_video iframe{
    width:100%;
    height: auto;
    aspect-ratio: 16 / 9;
}
.main_video_text {
    padding-right: 2vw;
}

.main_video_text h4 {
    font-size: clamp(20px, 2.727vw, 36px);
    font-weight: 500;
    padding: 2.7vw 0;
}

.main_video_text p {
    font-size: clamp(0.875rem, 0.8rem + 0.5vw, 1.125rem);
    font-weight: 300;
    padding-bottom: 2.7vh;
}

#main_line2 {
    padding-top: min(80px, 6.06vw);
}
.mobile_menu_box{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.mobile_menu_list > li{
    display: flex;
    align-items: flex-start;
    padding:20px 0;
    border-bottom:1px solid #eee;
}
.mobile_menu_list li:last-child{
    border-bottom:none;
}
.mobile_menu_list li h2{
    width: 130px;
    font-size: 16px;
    font-weight: 500;
    background: url("../images/arrow_right.png") no-repeat 85% 60%;
    background-size:4%;
    padding-right: 20px;
}
.sub_menu_event.mobile{
    display: none;
    flex-direction: column;
}
.sub_menu_event.mobile li img{
    margin:0 auto;
}
#daily_clip{
    padding: var(--space-150) 0;

}
.main_clip{
    padding-left:20px;
    padding-bottom:var(--space-64);
}
.main_clip .swiper-slide{
    border-radius: var(--space-30);
    overflow: hidden;
}
.main_clip .swiper-slide:nth-child(even){
    margin-top:var(--space-30);
}
.main_clip>.swiper-pagination-progressbar {
    width: 100%;
    height: 6px;
    left: 0;
    top: auto;
    bottom: 0;
}

.main_clip .swiper-pagination-progressbar-fill {
    background: #333;
}
.video_info{
    position: absolute;
    width: 100%;
    padding: 20px;
    color: #fff;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.7);
}
.video_text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* 몇 줄에서 자를지 */
    overflow: hidden;
}
.video_size{
     width: 100%;
}
.profile{
    display: flex;
    font-size: var(--fs-body);
    gap: 10px;
    align-items: center;
    padding-bottom:10px;
    font-weight: bold;
}
.profile img{
    width: clamp(30px,2.6vw,50px);
    border-radius: 50%;
}
.board_list{
    border-top:1px solid #111;
    border-bottom:1px solid #111;
}
.board_list li{
    border-bottom:1px solid #ddd;
}
.board_list li a {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: var(--fs-body-lg);
    padding: var(--space-30) 20px;
}

.category {
    width: clamp(70px, 5vw, 100px);
    flex-shrink: 0;
    font-family: var(--font-en);
    font-size: 0.9em;
    text-align:center;
    font-weight: bold;
}

.title {
    flex: 1;
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.date {
    width: clamp(100px, 8vw, 130px);
    margin-left: auto;
    flex-shrink: 0;
    color: #999;
    text-align: right;
}
#notice{

}
#notice .h2_title{
    position: relative;
}
#notice .h2_title .btn_plus{
    position: absolute;
    top:8px;
    width: 30px;
    right:10px;
    background: none;
    border:none;
    transform:translateX(-50%);
    cursor: pointer;
}
#notice .h2_title .btn_plus img{
    max-width: 100%;
}

#main_brand_banner{
    margin:var(--space-150) 0 0;
    background: url('../images/tea_coaster_green1.jpeg');
    background-attachment: fixed;
    background-size: cover;
}
#main_brand_banner p{
    font-size: var(--fs-h1);
    color: #fff;
    backdrop-filter: brightness(0.4);
    letter-spacing: 20%;
    font-weight: 600;
    text-align: center;
    padding: var(--space-150) 0;
}
#main_brand_banner p span{
    display: block;
    font-size: 0.5em;
    font-weight: 300;
    letter-spacing: 0;
}
#insta{
    padding:var(--space-150) 0;
}
#insta .h2_title span{
    display: block;
    font-family: var(--font-main);
    padding-top:10px;
    font-size: 0.65em;
    font-weight: 300;
    text-decoration: underline;
    letter-spacing: 20%;
}
#insta ul{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
#insta ul li{
    overflow: hidden;
}
#insta ul li img{
    max-width: 100%;
    transition: all 0.3s;
}
#insta ul li img:hover{
    transform: scale(1.2);
}
#footer{
    border-top:2px solid var(--black-color);
    padding: var(--space-50);
    font-size: 13px;
}
.footer_logo{
    width: 70px;
}
.footer_menu{
    display: flex;
    padding:var(--space-20) 0;
    gap: var(--space-24);
    font-weight: 500;
}
.footer_info{
    color: var(--dark_gray);
}
.footer_customer{
    font-size: 15px;
    font-weight: 700;
    padding-top: 20px;
}
.aside_menu{
    position: fixed;
    opacity: 0;
    visibility: hidden;
    right: 25px;
    bottom: 33%;
    transition: all 0.3s;
    z-index: 10000;
}
.aside_menu.active{
    opacity: 1;
    visibility: visible;
}

.aside_menu li{
    padding-bottom: var(--space-16);
}
.aside_menu a{
    display: block;
    width: clamp(50px,5vw,70px);
    display: flex;
    justify-content: center;
    align-items: center;
    height: clamp(50px,5vw,70px);
    border:1px solid var(--black-color);
    background: #fff;
    border-radius: 50%;
    overflow: hidden;
    z-index: 9999;
}
.aside_menu a:first-child img{
    max-width: 100%;
}
.kakaotalk a{
    background-color: var(--brand-yellow);
}
.kakaotalk img, .chatbot img{
    max-width: 80%;
}
@media (max-width:1279px) {
    #header{
            background: rgba(255, 255, 255, 1);
    }
    #header h1{
        margin-right: auto;
        margin-left: 16px;
    }
    .mobile_menu {
        position: fixed;
        display: block;
        top: 60px;
        left: -100%;
        width: 100%;
        transition: left 0.3s ease;
        z-index: 1000;
        backdrop-filter: blur(5px);
        background: rgba(255, 255, 255, 1);
        padding:20px;
        box-sizing: border-box;
    }
    #notice .h2_title .btn_plus{
        position: absolute;
        top:8px;
        width: 24px;
        right:10px;
        background: none;
        border:none;
        transform:translateX(-50%);
        cursor: pointer;
    }
    .mobile_menu.active {
        left: 0;
    }
    .sub_menu{
        display: none;
    }
    #header .top_sub_btn{
    }
    .btn_menu{
        display: block;
    }
    .banner_inner {
        max-width: 70%
    }

    .gnb {
        display: none;
    }

    .petit_line {
        flex-direction: column;
    }

    .grand_line {
        flex-direction: column-reverse;
    }

    #event_banner ul {
        flex-wrap: wrap;
    }

    #event_banner ul li {
        width: 100%;
    }

    .main_line_list {
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
    }


    .line_info_text {
        width: 90%;
        word-break: keep-all;
    }

    #main_video .inner {
        display: grid;
        gap: 60px;
        grid-template-columns: 1fr;
        align-items: center;
    }

    #main_video .inner iframe {
        max-width: 100%;
    }
    .new_tab li button{
        font-size:15px;
        padding:7px 20px;
    }
}

@media (max-width:767px) {
    html {
        font-size: 14px;
    }

    .gnb {
        display: none;
    }


    .trend_list {
        flex-direction: column;
    }
    .main_line_list{
        padding:0;
    }
    .petit_line {
        flex-direction: column;
        padding: 20px;
        gap: 20px;
    }
    #event_banner ul li{
        gap:10px;
    }
    .petit_line .line_info{
        padding:0 10px;
    }
    .petit_line {
        padding: 40px 20px;
        gap: 20px;
    }
    .grand_line .line_info_text{
        margin-top:0px;
    }
    .grand_line{
        gap: 20px;
    }
    #main_video{
        padding:30px 16px;
    }
    #main_video .inner {
        flex-direction: column;
        gap: 30px;
    }
    #daily_clip{
        padding-bottom:60px;
    }
    .video_info{
        padding:10px;
    }
    .profile{
        font-size: 14px;
        gap: 5px;
        padding-bottom: 5px;
    }
    .video_info .video_text{
        font-size:13px;
    }
    .main_video_text{
    width: 100%;
    }
    .main_video_text img{
        width: 80%;
    }
    .main_line_img {
        max-width: 70%;
    }
    .line_info_text {
        width: 100%;
        word-break: keep-all;
    }
    .line_info_text .btn_basic{
        display: none;
    }
    #brand_banner .brand_inner .text_box .btn_basic{
        display: block;
    }
    #insta ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    }
    #notice .h2_title .btn_plus{
        position: absolute;
        top:4px;
        width: 20px;
        right:10px;
        background: none;
        border:none;
        transform:translateX(-50%);
        cursor: pointer;
    }
    .main_video_text{
    width: 100%;
    padding: 0 10px;
    }
    .main_video_text img{
        width: 80%;
    }
    .main_video_text .btn_basic{
        display: none;
    }
    .main_ani1, .main_ani2{
        display: none;
    }
    .brand_inner h2{
        font-size: 20px;
    }
    .brand_inner .text_box p{
        margin-bottom: 15px;
        font-size: 13px;
    }
    .aside_menu{
        bottom:2%;
        right:2%;
    }
    .aside_menu ul li:nth-child(2),.aside_menu ul li:nth-child(3){
        display: none;
    }
    .board_list li a{
        font-size: 14px;
    }
    .board_list li .category{
        display: none;
    }
    .board_list li .date{
        display: none;
    }
    .board_list li .title{
        text-overflow: ellipsis;
    }
    .new_tab li button{
        font-size:13px;
        padding:5px 12px;
    }
    .line_info p {
    padding-bottom: 0;
    }
    #footer{
        padding-bottom:50px;
    }
}