@charset "utf-8";
/*기본 설정*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

img,
video,
iframe {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}
button{
    font-family: var(--font-main);
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

:root {
    /*Color*/
    --black-color: #333;
    --red-color: #FF5A5A;
    --ivory-color: #FFF7EA;
    --light_gray: rgb(235, 239, 243);
    --gray: rgb(132, 143, 154);
    --dark-gray: rgb(86, 88, 100);
    --des_text: #999;
    --brand-yellow: #FFE317;
    --brand-green: #3BB26B;
    --bg-light-gray:rgb(242, 244, 247);

    /* Font Family */
    --font-main: 'Pretendard';
    --font-en:'Gotham';

    /* ==========================
   * Heading
   * 1320px 이상 : 고정
   * 1320px 미만 : 비율 감소
   * ========================== */

/* Heading */
--fs-h1: clamp(32px, calc(100vw * 64 / 1320), 64px);          /* 32px ~ 64px */
--fs-h2: clamp(24px, calc(100vw * 48 / 1320), 48px);          /* 24px ~ 48px */
--fs-h3: clamp(18px, calc(100vw * 36 / 1320), 36px);          /* 18px ~ 36px */
--fs-32: clamp(20px, calc(100vw * 32 / 1320), 32px);          /* 20px ~ 32px */
--fs-40: clamp(24px, calc(100vw * 40 / 1320), 40px);          /* 24px ~ 40px */



/* Common */
--fs-body-lg: 20px;
--fs-body: 18px;
--fs-small: 14px;
--fs-caption: 112px;

/* product */

/* Weight */
--fw-light: 300;
--fw-regular: 400;
--fw-medium: 500;
--fw-bold: 700;

/* Padding */
--space-4: clamp(2px, calc(100vw * 4 / 1320), 4px);
--space-8: clamp(4px, calc(100vw * 8 / 1320), 8px);
--space-12: clamp(6px, calc(100vw * 12 / 1320), 12px);
--space-16: clamp(8px, calc(100vw * 16 / 1320), 16px);
--space-20: clamp(14px, calc(100vw * 20 / 1320), 20px);
--space-24: clamp(16px, calc(100vw * 24 / 1320), 24px);
--space-30: clamp(15px, calc(100vw * 30 / 1320), 30px);
--space-32: clamp(16px, calc(100vw * 32 / 1320), 32px);
--space-40: clamp(20px, calc(100vw * 40 / 1320), 40px);
--space-48: clamp(24px, calc(100vw * 48 / 1320), 48px);
--space-50: clamp(25px, calc(100vw * 50 / 1320), 50px);
--space-64: clamp(32px, calc(100vw * 64 / 1320), 64px);
--space-80: clamp(30px, calc(100vw * 80 / 1320), 80px);
--space-100: clamp(40px, calc(100vw * 100 / 1320), 100px);
--space-120: clamp(60px, calc(100vw * 120 / 1320), 120px);
--space-130: clamp(65px, calc(100vw * 130 / 1320), 130px);
--space-150: clamp(40px, calc(100vw * 150 / 1320), 150px);
}

body {
    font-size: var(--fs-body);
    line-height: 1.5;
    font-family: var(--font-main);
    font-weight: var(--fw-regular);
}

.max_inner {
    max-width: 1920px;
    margin: 0 auto;
}

.inner {
    max-width: 1320px;
    margin: 0 auto;
}

/* Header */
#header {
    position: fixed;
    width: 100%;
    z-index: 999;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.8);
}

#header .max_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: clamp(60px,6.8vw,90px);
    padding: 0 var(--space-24);
}
#header h1{
    flex-shrink: 0;
}
.gnb {
    display: flex;
    margin-left: auto;
    margin-right:150px;
}

h1 img {
    height: clamp(28px,3vw,40px);
}
.btn_menu{
    display: none;
    border:none;
    outline:none;
    background-color: none;
    position: relative;
    width: 20px;
    height: 20px;
    padding: 0;
    border: 0;
    cursor: pointer;
}

.btn_menu span {
    position: absolute;
    left: 0;

    width: 100%;
    height: 2px;

    background: #111;
    transition: all 0.3s ease;
}

/* 위 */
.btn_menu span:nth-child(1) {
    top: 5px;
}

/* 가운데 */
.btn_menu span:nth-child(2) {
    top: 11px;
}

/* 아래 */
.btn_menu span:nth-child(3) {
    top: 17px;
}
.top_menu {
    display: flex;
    gap: var(--space-20);
    align-items: center;
}

.btn_menu.active span:nth-child(1) {
    top: 11px;
    transform: rotate(45deg);
}

.btn_menu.active span:nth-child(2) {
    opacity: 0;
}

.btn_menu.active span:nth-child(3) {
    top: 11px;
    transform: rotate(-45deg);
}

.top_menu>li>a {
    display: block;
    padding: 35px 10px 20px;
    height: 90px;
    box-sizing: border-box;
    font-weight: 600;
}

.top_menu>li:hover .sub_menu {
    opacity: 1;
    visibility: visible;
}

.top_sub_btn {
    display: flex;
    gap: 10px;
    align-items: center;
}

.top_sub_btn li {
    
    position: relative;
    padding: 5px;
    display: flex;
}
.top_sub_btn li img{
    width: 24px;
}

.cart_num {
    position: absolute;
    display: flex;
    right: -3px;
    bottom: 0;
    width: 17px;
    height: 17px;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    background: #111;
    border-radius: 99px;
    justify-content: center;
    align-items: center;
}

/* Sub Menu */
.sub_menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 100%;
    left: 0;
    width: 100%;
    height: 250px;
    display: flex;
    z-index: 999;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.8);
    transition: all 0.5s;
}

.sub_menu .inner {
    width: 100%;
    display: flex;
    padding: 50px 30px;
    justify-content: space-between;
    box-sizing: border-box;
}
.sub_menu .inner .lnb{
    flex: 1 1 0;
}
.sub_menu .inner .sub_menu_event{
    flex: 0 0 618px;
}
.lnb {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.lnb h2 {
    width: 140px;
    font-size: 20px;
    font-weight: 600;
    background: url("../images/arrow_right.png") no-repeat 95% 50%;
    padding-right: 20px;
}

.lnb ul {
    font-size: 18px;
    font-weight: 500;
    color: var(--dark-gray);
}

.lnb ul li a {
    display: block;
    padding: 8px 0;
    margin-top: -7px;
}

.sub_menu_event {
    display: flex;
    gap: 20px;
}

.sub_menu_arrow {
    padding-top: 5px;
}

/* Main Banner */
#main_banner{
    padding-top:clamp(60px,6.8vw,90px);
    overflow: hidden;
}

.banner_inner {
    max-width: 1320px;
    margin: 0 auto;
    overflow: visible;
    position: relative;
}

.main_banner {
    padding-bottom: 30px;
    overflow: visible;
}

.main_banner .swiper-slide {
    text-align: center;
    align-items: center;
    border-radius: var(--space-30);
    overflow: hidden;
}

.main_banner .swiper-slide img {
    max-width: 100%;
}

.main_banner>.swiper-pagination-progressbar {
    width: 100%;
    height: 6px;
    left: 0;
    top: auto;
    bottom: 0;
}

.main_banner .swiper-pagination-progressbar-fill {
    background: #333;
}


.main_banner .swiper {
    padding-bottom: 100px;
    overflow: visible;
}


/* Main Best */
.main_best_list,.main_new_list{
    padding-left:16px;
}

#main_best .main_best_list .swiper-slide {
    position: relative;
}

.thumb {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}
.thumb img {
    width: 100%;
    transition: transform 0.3s;
}

.info {
    padding: 0.5em 0;
    overflow: hidden;
}

.main_best_list .swiper-slide img {
    max-width: 100%;
}

.brand {
    font-size: 16px;
    line-height: 1.2;
    color: var(--gray);
    padding-top:5px;
}
.prd_title {
    font-size: 18px;
    /* 14px ~ 18px */
    line-height: 1.4;
    font-weight: 400;
    margin: 0.3em 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* 몇 줄에서 자를지 */
    overflow:hidden;
}
.prd_title span{
    display: none;
    display: inline-block;
    font-size: 12px;
    padding: 2px 6px;
    line-height: 1.4;
    /* display: none; */
}
.tag_free{
    background-color: var(--black-color);
    color: #fff;
    font-weight: 600;
}
.tag_best{
    background-color: var(--brand-yellow);
    font-weight: 800;
}
.price_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wish_btn {
    display: block;
    width: clamp(20px, 1.8vw, 24px);
    aspect-ratio: 1 / 1;
    background: url("../images/icon_wish2.png") no-repeat center;
    background-size: contain;
    transition: 0.2s;
    border:none;
    outline: none;
    cursor: pointer;
}

/* 마우스 오버가 작동하는 기기에서만 실행 */
@media (hover:hover){
    .thumb:hover img{
    transform: scale(1.2);
    }
    #insta ul li img:hover{
    transform: scale(1.2);
    }
    .wish_btn:hover {
    background-image: url("../images/icon_wish_on.png");
    }
    .new_tab li button:hover{
        border:1px solid var(--black-color);
        color: var(--black-color);
    }
    .btn_basic a:hover{
    background-color: #111;
    color:#fff;
    }
}

/* 클릭 후 유지 */
.wish_btn.active {
    background-image: url("../images/icon_wish_on.png");
}
.price_area .wish_area{
    padding-right:5px;
}
.price_area .wish_area img{
    width: 1.3rem;
}

.price {
    font-family: var(--font-en);
    font-size: 20px;
    font-weight: 600;
}

.h2_title {
    font-family: var(--font-en);
    font-weight: bold;
    font-size: clamp(20px, 3vw,30px);
    letter-spacing: 20%;
    text-align: center;
    padding-bottom: var(--space-100);
}

.discount {
    display: inline-block;
    color: var(--red-color);
    padding-right: 8px;
}

/* 순위 태그 */
.main_best_list .thumb span {
    font-family: var(--font-en);
    position: absolute;
    top: 5%;
    left: 5%;
    background: #111;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 700;
    width: 15%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.main_best_list .thumb span.tag_best1 {
    background-color: var(--red-color);
}

/* Main New */
#main_new {
    position: relative;
}

.new_tab {
    display: flex;
    gap: clamp(5px, 1.3vw, 20px);
    justify-content: center;
}

.new_tab li button{
    display: inline-block;
    font-size: 18px;
    padding: 10px 30px;
    background: #fff;
    border: 1px solid var(--light_gray);
    outline: none;
    color: var(--gray);
    font-weight: 600;
    border-radius: 99px;
    transition: all 0.3s;
    cursor: pointer;
}

.new_tab li button.active {
    background-color: var(--black-color);
    color: #fff;
    border: 1px solid var(--black-color);
    font-weight: 600;
}

#main_new,#main_best{
    padding-top: var(--space-150);
}

.swiper_box {
    display:none;
}

.swiper_box.active {
    display: block;
}
.main_new_list .swiper-slide img {
    width: 100%;
}

.new_page span {
    background-color: #E6DECF;
    opacity: 1;
}

.main_new_list .swiper-pagination-bullet-active {
    background-color: var(--red-color);
    opacity: 1;
}

.new_page span {
    width: 12px;
    height: 12px;
}
.mobile_menu{
    display: none;
    height: calc(100vh - 60px);
}
.new_page {
    bottom: 0;
}

#main_new .h2_title {
    padding-bottom: clamp(30px, 3.7vw, 50px);
}

#main_new .swiper {
    padding-bottom: clamp(40px, 5.3vw, 70px);
}

.new_tab {
    padding-bottom: clamp(30px, 3.7vw, 50px);
}

/* Trend pick*/

#trend_pick {
    padding: var(--space-150) 20px;
}

.trend_list {
    display: flex;
    gap: 27px;
    justify-content: space-between;
    text-align: center;
}

.trend_list li img {
    width: 100%;
}

.trend_list h3 {
    padding: 1em 0 10px;
    font-size: 24px;
    font-weight: 600;
}

.trend_list p {
    font-size: 18px;
    color: var(--gray);
}

/* Brand Story */
.brand_logo {
    width: 220px;
}

#brand_banner {
    background-color: var(--ivory-color);
    height: clamp(350px, 52vw,550px);
    overflow: hidden;
    padding:0;
}

#brand_banner .brand_inner {
    max-width: 1320px;
    height: 100%;
    position: relative;
    margin: 0 auto;
    padding: var(--space-100) 30px;
}

.brand_inner .text_box {
    width: clamp(350px,55vw,500px);
    word-break: keep-all;
}

.brand_inner h2 {
    font-size: 40px;
    font-weight: 300;
    line-height: 1.2;
    padding: var(--space-24) 0;
}

.brand_inner h2 b {
    font-weight: 600;
}

.brand_inner p {
    font-weight: 300;
    line-height: 1.4;
    padding-bottom: var(--space-24);
    color: var(--dark-gray);
}

.btn_basic {
    display: flex;
    justify-content: flex-end;
}

.btn_basic a {
    padding: 0.8em 1.6em;
    display: inline-flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    border-radius: 99px;
    margin-left: auto;
    background-color: #fff;
    color: #111;
    font-weight: 600;
    transition: all 0.3s;
}

#brand_banner .bg_red {
    background-color: var(--red-color);
    color: #fff;
}

@keyframes flower_ani1 {
    0% {
        transform: rotate(-180deg)
    }

    100% {
        transform: rotate(-210deg);
    }
}

@keyframes flower_ani2 {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(-20deg);
    }
}

.main_ani1 {
    position: absolute;
    width: var(--space-150);
    top:-8%;
    left: 40%;
    animation: flower_ani1 2s linear infinite alternate;
}

.main_ani2 {
    position: absolute;
    width:460px;
    bottom: -10%;
    right: 6%;
    animation: flower_ani2 3s linear infinite alternate;
}

/* Main Event */
#event_banner {
    padding: var(--space-150) 0;

}

#event_banner ul {
    display: flex;
    text-align: center;
}


#event_banner ul li {
    width: 50%;
    flex:1 1 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: clamp(20px,2vw,45px) clamp(20px,2vw,45px) clamp(20px,2vw,45px) clamp(30px,5vw,80px);
}

#event_banner ul li .img_box {
    width: clamp(70px, 8.8vw, 150px);
}

#event_banner ul li .img_box img {
    width: 100%;
}

.main_event1 {
    background-color: var(--brand-yellow);
}

.main_event2 {
    background-color: var(--brand-green);
    color: #fff;
}


.event_title {
    flex: 1 1 0;
    font-size: var(--fs-32);
    font-weight: 700;
}

.event_des {
    display: block;
    font-size: 20px;;
    font-weight: 500;
}

/* Main Line */
#main_line {
    background: url(../images/petit_bg.png) no-repeat 0 100%;
    background-size: 15%;
    background-color: var(--brand-yellow);
}
#main_line2 {
    padding-top: min(80px, 6.06vw);
}
.petit_line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding:
        clamp(40px, 6.77vw, 130px) clamp(20px, 5.21vw, 100px);
    box-sizing: border-box;
    border-radius: 0 50px 0 0;
    overflow: hidden;
}

.grand_line {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    padding:
        clamp(20px, 6.77vw, 130px) clamp(20px, 5.21vw, 100px);
    box-sizing: border-box;
}

.main_line_list {
    display: grid;
    grid-template-columns: repeat(2, 350px);
    gap: clamp(20px, 2vw, 40px);
}
.petit_line .tag_best{
    background-color: #fff;
}

.main_line_img {
    max-width: 100%;
    display: block;
}

.line_info h3 {
    font-size: clamp(24px,3.4vw, 46px);
    font-weight: 600;
    padding-bottom:clamp(10px,2.2vw,30px);
}

.line_info p {
    font-weight: 300;
    padding-bottom: 30px;
}

.line_info_text {
    width: 500px;
}

.grand_line .line_info_text {
    margin-top: -25px;
}
.line_info .main_line_img_m{
    display: none;
}
.grand_line .line_info_text .btn_basic a {
    border: 1px solid #111;
}

/* Main Video */
#main_video {
    background: #f5f5f5;
    padding:
        clamp(60px, 6.77vw, 130px) 20px;
}

#main_video .inner {
    display: grid;
    gap: 60px;
    grid-template-columns: 3fr 2fr;
    align-items: center;
}
#main_video iframe{
    width:100%;
    height: auto;
    aspect-ratio: 16 / 9;
}
.main_video_text {
    padding-right: 2vw;
}

.main_video_text h4 {
    font-size: clamp(20px, 2.727vw, 36px);
    font-weight: 500;
    padding: 0.6em 0;
}

.main_video_text p {
    font-weight: 300;
    padding-bottom: 2.7vh;
}


/* Mobile Menu */
.mobile_menu_box{
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 40px;
    padding:10px;
}

.mobile_menu_list > li{
    display: flex;
    align-items: flex-start;
    padding:20px 3px;
    border-bottom:1px solid #eee;
}
.mobile_menu_list li:last-child{
    border-bottom:none;
}
.mobile_menu_list li h2{
    width: 140px;
    font-size: 16px;
    font-weight: 600;
    background: url("../images/arrow_right.png") no-repeat 80% 50%;
    background-size:4%;
    padding-right: 20px;
}
.mobile_menu_list li ul{
    font-size:16px;
    color: var(--dark-gray);
}
.mobile_etc_menu{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.mobile_etc_menu li a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background:var(--light_gray);
    text-align: center;
    font-size: 15px;
    padding:13px 0;
    border-radius: 6px;
    color: var(--gray);
    font-weight:500;
    line-height: 1.4;
}
.mobile_etc_menu li i{
    display: inline-block;
    width: max-content;
}

.mobile_etc_menu li span{
    display: inline-block;
    width: 70px;
    color:var(--black-color)
}
.sub_menu_event.mobile{
    display: none;
    flex-direction: column;
}
.sub_menu_event.mobile li img{
    margin:0 auto;
}
/* Daily Clip */
#daily_clip{
    padding: var(--space-150) 0;

}
.main_clip{
    padding-left:20px;
    padding-bottom:var(--space-64);
}
.main_clip .swiper-slide{
    border-radius: var(--space-30);
    overflow: hidden;
}
.main_clip .swiper-slide:nth-child(even){
    margin-top:var(--space-30);
}
.main_clip>.swiper-pagination-progressbar {
    width: 100%;
    height: 6px;
    left: 0;
    top: auto;
    bottom: 0;
}

.main_clip .swiper-pagination-progressbar-fill {
    background: #333;
}
.video_info{
    position: absolute;
    width: 100%;
    padding: 20px;
    color: #fff;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.7);
}
.video_text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* 몇 줄에서 자를지 */
    overflow: hidden;
}
.video_size{
     width: 100%;
}
.profile{
    display: flex;
    font-size: var(--fs-body);
    gap: 10px;
    align-items: center;
    padding-bottom:10px;
    font-weight: bold;
}
.profile img{
    width: clamp(20px,2.6vw,50px);
    border-radius: 50%;
}

/* Main News */
.board_list{
    border-top:1px solid #111;
    border-bottom:1px solid #111;
}
.board_list li{
    border-bottom:1px solid #ddd;
}
.board_list li a {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: var(--fs-body-lg);
    padding: var(--space-30) 20px;
}

.category {
    width: clamp(80px, 5vw, 100px);
    flex-shrink: 0;
    font-family: var(--font-en);
    font-size: 0.9em;
    text-align:center;
    font-weight: bold;
}

.title {
    flex: 1;
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.date {
    width: clamp(120px, 8vw, 130px);
    margin-left: auto;
    flex-shrink: 0;
    color: var(--gray);
    text-align: right;
}
#notice .h2_title{
    position: relative;
}
#notice .h2_title .btn_plus{
    position: absolute;
    top:8px;
    width: 30px;
    right:10px;
    background: none;
    border:none;
    transform:translateX(-50%);
    cursor: pointer;
}
#notice .h2_title .btn_plus img{
    max-width: 100%;
}

/* Main Bottom banner */
#main_brand_banner{
    margin:var(--space-150) 0 0;
    background: url('../images/tea_coaster_green1.jpg');
    background-attachment: fixed;
    background-size: cover;
}
#main_brand_banner p{
    font-size: var(--fs-h1);
    color: #fff;
    backdrop-filter: brightness(0.4);
    letter-spacing: 20%;
    font-weight: 600;
    text-align: center;
    padding: var(--space-150) 0;
}
#main_brand_banner p span{
    display: block;
    font-size: 0.5em;
    font-weight: 300;
    letter-spacing: 0;
}

/* Instagram */
#insta{
    padding:var(--space-150) 0;
}
#insta .h2_title span{
    display: block;
    font-family: var(--font-main);
    padding-top:10px;
    font-size: 0.65em;
    font-weight: 300;
    text-decoration: underline;
    letter-spacing: 20%;
}
#insta ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
#insta ul li{
    overflow: hidden;
}
#insta ul li img{
    width: 100%;
    transition: all 0.3s;
}

/* Footer */
#footer{
    border-top:2px solid var(--black-color);
    padding: var(--space-50);
    font-size: 14px;
}
.footer_logo{
    width: 80px;
}
.footer_menu{
    display: flex;
    font-size: 15px;
    padding:var(--space-20) 0;
    gap: var(--space-24);
    font-weight: 600;
}
.footer_info{
    color: var(--gray);
}
.footer_info span b{
    font-weight: 600;
}
.footer_info span{
    display: inline-block;
    padding-right:15px;
}
.footer_customer{
    font-size: 15px;
    font-weight: 700;
    padding-top: 20px;
}

/* Aside Fixed Menu */
.aside_menu{
    position: fixed;
    opacity: 0;
    visibility: hidden;
    right: 25px;
    bottom: 280px;
    transition: all 0.3s;
    z-index: 10000;
}
.aside_menu.active{
    opacity: 1;
    visibility: visible;
}

.aside_menu li{
    padding-bottom: var(--space-16);
}
.aside_menu a, .aside_menu button{
    display: block;
    width: clamp(50px,5vw,70px);
    display: flex;
    justify-content: center;
    align-items: center;
    height: clamp(50px,5vw,70px);
    border:1px solid var(--black-color);
    background: #fff;
    border-radius: 50%;
    overflow: hidden;
    z-index: 9999;
}
.aside_menu button{
    font-size: 20px;
}
.btn_top{
    color: var(--black-color);
}
.aside_menu li:first-child img{
    max-width: 100%;
}
.kakaotalk a{
    background-color: var(--brand-yellow);
}
.kakaotalk a img, .chatbot a img{
    max-width: 60%;
}


/* Tablet 768px이상 1279px 이하 */
@media (max-width:1279px) {
    /* Header */
    #header{
            background: rgba(255, 255, 255, 1);
    }
    #header h1{
        margin-right: auto;
        margin-left: 16px;
    }
    .mobile_menu {
        position: fixed;
        display: block;
        top: 60px;
        left: -100%;
        width: 100%;
        transition: left 0.3s ease;
        z-index: 1000;
        backdrop-filter: blur(5px);
        background: rgba(255, 255, 255, 1);
        padding:20px;
        box-sizing: border-box;
    }
    .mobile_menu.active {
        left: 0;
    }
    .gnb {
        display: none;
    }
    .sub_menu{
        display: none;
    }
    .btn_menu{
        display: block;
    }

    /* Main Best */
    .main_best_list .thumb span{
    font-size: 1.2rem;
    }
    
    /* Wish Button Animation */
    .wish_btn.wish_pop{
        animation: heartPop 0.3s ease;
    }

    @keyframes heartPop {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(0.7);
        }
        100% {
            transform: scale(1);
        }
    }
    /* Main New */
    .new_tab li button{
        font-size:15px;
        padding:7px 20px;
    }

    /* Main Brand Story */
    .brand_logo {
        width: 170px;
    }
    .main_ani2 {
        position: absolute;
        width:clamp(200px,25vw,350px);
        bottom: -7%;
        right: 2%;
        animation: flower_ani2 3s linear infinite alternate;
    }
    .banner_inner {
        max-width: 70%
    }
    .brand_inner h2{
        font-size: 32px;
    }
    .main_ani1 {
        position: absolute;
        width: var(--space-150);
        top:-4%;
        left: 40%;
        animation: flower_ani1 2s linear infinite alternate;
    }
    .btn_basic{
        font-size: 16px;
    }

    /* Main Line */
    .petit_line {
        flex-direction: column;
    }

    .grand_line {
        flex-direction: column-reverse;
    }
    .line_info_text {
        width: 90%;
        word-break: keep-all;
    }

    /* Main Event */
    #event_banner ul {
        flex-wrap: wrap;
    }

    #event_banner ul li {
        width: 100%;
    }

    /* Trend Pick */
    .trend_list h3{
        font-size: 20px;
    }
    .main_line_list {
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
    }

    /* Main Video */
    #main_video {
     padding:0;
     margin-top:30px;
    }

    #main_video .inner {
        display: grid;
        gap: 60px;
        grid-template-columns: 1fr;
        align-items: center;
    }
    .main_video_text{
        padding:0 30px 30px;
    }
    #main_video .inner iframe {
        max-width: 100%;
    }
    #main_video .btn_basic{
        display: none;
    }

    /* Main News */
    #notice .h2_title .btn_plus{
        position: absolute;
        top:8px;
        width: 24px;
        right:10px;
        background: none;
        border:none;
        transform:translateX(-50%);
        cursor: pointer;
    }

    /* Instagram */
    #insta ul{
    grid-template-columns: repeat(4, 1fr);
    }

    /* Aside Fixed Menu */
    .aside_menu{
        bottom:3%;
    }
    .kakaotalk, .chatbot{
        display: none;
    }
}

/* Tablet 767px 이하 */
@media (max-width:767px) {
    html{
        font-size: 16px;
    }
    body{
        font-size: 1rem;
    }
    .brand{
        font-size:14px;
    }
    .gnb {
        display: none;
    }
    .top_sub_btn{
        gap: 6px;
    }
    /* Main Best */
    .prd_title{
        font-size: 16px;
        line-height: 1.4;
    }
    .prd_title span{
        display: none;
    }
    .price{
        font-size: 1rem;
    }
    .main_best_list .thumb span{
        font-size: 1.1rem;
    }
    .price_area .wish_area{
        padding-right:0px;
    }

    /* Main New */
    .new_tab li button{
        font-size:14px;
        line-height: 18px;
        padding:6px 12px;
        -webkit-box-pack:center;
    }
    /* Main Brand Story */
    .brand_innder{
        padding-bottom:0;
    }
    .brand_inner h2{
        font-size: 24px;
    }
    .brand_inner .text_box p{
        margin-bottom: 15px;
        font-size: 15px;
    }
    #brand_banner .brand_inner .text_box .btn_basic{
        display: block;
    }
    .main_ani2 {
        position: absolute;
        width:clamp(100px,25vw,150px);
        bottom: -7%;
        right: 2%;
        animation: flower_ani2 3s linear infinite alternate;
    }
    .brand_logo{
        width: 130px;
    }
    .btn_basic a{
        font-size: 15px;
    }

    /* Main Event */
    #event_banner ul li{
        gap:10px;
    }
    .event_des{
        font-size:14px;
    }

    /* Trend Pick */
    .trend_list {
        flex-direction: column;
    }
    .trend_list h3{
        font-size:18px;
        padding-bottom:5px;
    }
    .trend_list p{
        font-size:16px;
    }

    /* Main Line */
    .petit_line {
        flex-direction: column;
        padding: 20px;
        gap: 20px;
    }
    .grand_line{
        padding: 20px;
        gap: 20px;
    }
    .main_line_list{
        padding:0;
    }    
    .petit_line .line_info{
        padding:0 10px;
    }
    .petit_line {
        padding: 40px 20px;
        gap: 20px;
    }
    .grand_line .line_info_text{
        margin-top:0px;
    }
    .grand_line .line_info{
        padding: 0 10px;
    }
    .main_line_img {
        max-width: 70%;
    }
    .line_info_text {
        width: 100%;
        word-break: keep-all;
    }
    .line_info_text .btn_basic{
        display: none;
    }
    .grand_line .line_info .main_line_img{
        display: none;
    }
    .line_info .main_line_img_m{
       display: block;`
    }
    .line_info p {
    padding-bottom: 0;
    }

    /* Main Video */
    #main_video{
        padding:0;
    }
    #main_video .inner {
        flex-direction: column;
        gap: 30px;
    }
    .main_video_text{
        width: 100%;
        padding:0 25px 20px; 
    }
    .main_video_text img{
        width: 70%;
    }
    .main_video_text .btn_basic{
        display: none;
    }

    /* Daily Clip */
    #daily_clip{
        padding-bottom:60px;
    }
    .video_info{
        padding:10px;
    }
    .video_info .video_text{
        font-size:13px;
    }
    .profile{
        font-size: 13px;
        gap: 5px;
        padding-bottom: 5px;
    }


    /* Instagram */
    #insta ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /* Main News */
    .board_list li a{
        flex-direction: column;
        gap: 5px;
    }
    .board_list li .category{
        display: none;
    }
    #notice .h2_title .btn_plus{
        position: absolute;
        top:5px;
        width: 20px;
        right:10px;
        background: none;
        border:none;
        transform:translateX(-50%);
        cursor: pointer;
    }
    .board_list li .date{
        order:-1;
        margin-left: 0;
        margin-right:auto;
        text-align: left;
        font-size: 14px;
        font-weight: 500;
    }
    .board_list li .title{
        width: 100%;
        text-overflow: ellipsis;
        line-height: 1.2;
        font-size: 16px;
    }

    /* Main Bottom Banner */
    #main_brand_banner{
        background-attachment: scroll;
        background-size: cover;
    }
    /* Footer */
    #footer{
        padding:30px 16px 50px;
    }
    .footer_logo{
        padding-bottom:10px;
    }
    
    /* Aside Fixed Menu */
    .aside_menu{
        bottom:3%;
        right:2%;
    }
    .kakaotalk,.chatbot{
        display: none;
    }
    .aside_menu button{
        font-size: 18px;
    }

}